* {
  box-sizing: border-box;
}

:root {
  font-size: 4vmin;
}

body {
  margin: 0;
  display: grid;

  min-width: 100vw;
  min-height: 100vh;

  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "微軟正黑體",
    "Microsoft JhengHei", "微軟雅黑體", "Microsoft YaHei", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #333;
  color: #111;
}

#canvas {
  place-self: center;

  width: 550px;
  height: 360px;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem #000;
}
